# Part 1

In [186]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [187]:
df = pd.read_csv('pd.csv', delimiter=',')

In [188]:
df.shape

(288, 3)

In [189]:
df = df[~df['Borough'].isin(['Not assigned'])]

In [190]:
df = df.reset_index(drop=True)

In [191]:
df.head(10)

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor
6        M7A      Queen's Park      Not assigned
7        M9A         Etobicoke  Islington Avenue
8        M1B       Scarborough             Rouge
9        M1B       Scarborough           Malvern

In [192]:
for i in range(df['Neighborhood'].shape[0]):
    if df['Neighborhood'][i]=='Not assigned':
        df['Neighborhood'][i]=df['Borough'][i]

In [193]:
for i in range(df['PostalCode'].shape[0]):
    if i!=0:
        if df['PostalCode'][i]==df['PostalCode'][i-1]:
            df['Neighborhood'][i] = df['Neighborhood'][i] + ', ' + df['Neighborhood'][i-1]
            df['PostalCode'][i-1] = 'out'

In [194]:
df = df[~df['PostalCode'].isin(['out'])]
df = df.reset_index(drop=True)

In [195]:
df.head(10)

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Regent Park, Harbourfront
3        M6A        North York  Lawrence Manor, Lawrence Heights
4        M7A      Queen's Park                      Queen's Park
5        M9A         Etobicoke                  Islington Avenue
6        M1B       Scarborough                    Malvern, Rouge
7        M3B        North York                   Don Mills North
8        M4B         East York   Parkview Hill, Woodbine Gardens
9        M5B  Downtown Toronto          Garden District, Ryerson

In [196]:
df.shape

(103, 3)

In [197]:
df.sort_values(by='PostalCode', inplace=True)
df = df.reset_index(drop=True)

In [198]:
df.head(10)

  PostalCode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Malvern, Rouge
1        M1C  Scarborough           Port Union, Rouge Hill, Highland Creek
2        M1E  Scarborough                West Hill, Morningside, Guildwood
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      Kennedy Park, Ionview, East Birchmount Park
7        M1L  Scarborough                  Oakridge, Golden Mile, Clairlea
8        M1M  Scarborough  Scarborough Village West, Cliffside, Cliffcrest
9        M1N  Scarborough                      Cliffside West, Birch Cliff

# Part 2

In [199]:
cg = pd.read_csv('Geospatial_Coordinates.csv', delimiter=',')

In [200]:
cg.drop(['Postal Code'], axis=1, inplace=True)

In [201]:
df_new = pd.concat([df,cg], axis=1)

In [202]:
df_new.head(10)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Port Union, Rouge Hill, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"West Hill, Morningside, Guildwood",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.727929,-79.262029
7,M1L,Scarborough,"Oakridge, Golden Mile, Clairlea",43.711112,-79.284577
8,M1M,Scarborough,"Scarborough Village West, Cliffside, Cliffcrest",43.716316,-79.239476
9,M1N,Scarborough,"Cliffside West, Birch Cliff",43.692657,-79.264848

# Part 3

In [206]:
df_new['Borough'].value_counts()

North York          24
Downtown Toronto    18
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East York            5
York                 5
East Toronto         5
Mississauga          1
Queen's Park         1
Name: Borough, dtype: int64

In [207]:
df_new['Borough'].value_counts().shape

(11,)

In [208]:
#There are 11 Neighborhood
from sklearn import kmeans

ImportError: cannot import name 'kmeans'